/*

    SIDEBAR:  REGISTERED USERS

*/

.menu-container-in {
    background-color: white;
    top: 350px;
    bottom: 350px;
    overflow: hidden;
    width: 40px;
    left: 0px;
    position: absolute;
    transition: 1s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 0.7;
    z-index:100;
}

.menu-container-out {
    background-color: #2E2E2E;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    left: 80px;
    top: 80px;
    bottom: 80px;
    transition: 1s;
    position: absolute;
    border-radius: 5px;
    border-color: black;
    border-width: 10px; 
    opacity: 0.8;
    z-index:100;
}


/* - menu symbol -*/

.container {
    display: inline-block;
    cursor: pointer;
    top: 50%;
    width: 29px;
    margin-top: -12px;
    margin-left: 3px;
    position: fixed;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    transform: rotate(45deg) translate(4px, -2px) ;
}

/* Rotate first bar */
.bar1-change{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    -webkit-transform: rotate(-45deg) translate(-4px, 2px) ;
    transform: rotate(-45deg) translate(-4px, 2px) ;
}

/* Fade out the second bar */
.bar2-change{
    width: 25px;
    height: 3px;
    transition: 0.4s;
    opacity: 0;
}

/* Rotate last bar */
.bar3-change{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -7px) ;
}

/*- list of users -*/

.reg {
    letter-spacing: 2px;
    margin: 10px;
    margin-left: 30px;
    padding-bottom: 20px;
    margin-top: 40px;
    border-bottom: 5px double black;
    text-align: center;
    color: white;
}

.ireg {
    margin-left: 30px;
}

.margin {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.users {
    color: white;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

.users:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    cursor: pointer; 
}