<md-whiteframe ng-hide="!loggedIn" ng-class="!toggle ? 'md-whiteframe-9dp menu-container-in' : 'md-whiteframe-9dp menu-container-out'">
    <div class="container" ng-click="toggle=!toggle">
      <div ng-class="!toggle ? 'bar1' : 'bar1-change'"></div>
      <div ng-class="!toggle ? 'bar2' : 'bar2-change'"></div>
      <div ng-class="!toggle ? 'bar3' : 'bar3-change'"></div>
    </div>
    <h5 ng-show="toggle" class="reg">REGISTERED USERS</h5>
    <md-list flex ng-show="toggle" class="ireg">
      <md-list-item class="md-1-line" ng-repeat="usr in users">
          <img ng-src="{{usr.avatarUrl}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
              <span class="users">{{usr.name}}</span>
          </div>
      </md-list-item>
    </md-list>
</md-whiteframe>