 <div ng-hide="!loggedIn" class="bubble-container">
    <div ng-repeat="conv in conversations track by $index" ng-style="{'align-self': aligs[$index]}">
        <div class="bubble" ng-style="{'width': convSize[$index] + 'px', 'height': convSize[$index] + 'px', 'background-color': convCol[$index]}" ng-click="openConversation(conv)"><div ng-show="conv.unread!==undefined&&conv.unread!==0" style="text-align: center" ng-style="{margin: convSize[$index]/3 + 'px'}">{{conv.unread}}</div><div id="popup">{{conv.name}}</div></div>
    </div>
</div>