<div ng-show="showConversation" class="start-conv-container-open">
    <form class="users-conv">
        <input ng-show="edittingName" ng-model="conv.name"></input>
        <p ng-hide="edittingName">{{conv.name}}</p>

        <button type="button" ng-hide="edittingName" ng-click="edittingName=true">Edit conversation name</button>
        <button type="submit" ng-show="edittingName" ng-click="updateNameConv(conv.name);edittingName=false;">Update conversation name</button>
    </form>

    <div class="conv-container">
        <ul><li ng-repeat="msg in messages">
            From: {{msg.from}}, To: {{msg.to}}, Message: {{msg.messageText}}, Time: {{msg.time}}
    </li></ul>
    </div>
    <button type="button" ng-click="clearConversation()">Clear conversation</button>
    <button type="button" ng-click="leaveConversation()">Leave conversation</button>
    <button type="button" ng-click="showUsers=true">Add Users To Conversation</button>
    

    <div ng-show="showUsers">
        <ul ng-init="inputno=[]">
          <li ng-repeat="user in users" ng-if="conv.users.indexOf(user._id)<0" ng-class="isAlreadyInConv(user) ? 'disabled' : 'enabled'">
              <a ng-click="addUserToConv(user);">{{user.name}}</a>
          </li>
        </ul>
        <button type="button" ng-click="addUsersToConversation(); showUsers=false;">Add</button>
    </div>
    <form class="send-msg" ng-submit="sendMessage(newMessage)">
        <input style="width: 400px" type="text" ng-model="newMessage"></input>
        <button type="submit">Send</button>
    </form>
</div>