<div ng-show="showConversation" class="start-conv-container-open">
    <div class="users-conv"><p>{{getListOfUsers(conv.users)}}</p></div>

    <div class="conv-container">
        <ul><li ng-repeat="msg in messages">
            <div ng-if="msg.from==user._id&&msg.to==messagingNow.id">
            From: {{msg.from}}, To: {{msg.to}}, Message: {{msg.messageText}}
            </div>
    </li></ul>
    </div>

    <form class="send-msg" ng-submit="sendMessage(newMessage)">
        <input style="width: 400px" type="text" ng-model="newMessage"></input>
        <button type="submit">Send</button>
    </form>
</div>