body {
    margin: 0px;
    background-color: white;
    
}

ul {
    list-style-type: none;
    padding: 0px;
}


.logged-in-as {
     right: 10px; 
     position: absolute;
}

.white-writing {
    color: white;
}

.start-conv-container {
    top:30%; 
    left: 40%; 
    position: absolute;
    width: 800px;
    height: 200px;
    background: rgba(255,255,255, 0.8);
    border-radius: 15px;
    margin-top: -100px;
    margin-left: -400px;
}

.start-conv-container-open {
    top:25%; 
    left: 40%; 
    position: absolute;
    width: 800px;
    transition: 1s;
    background: rgba(255,255,255, 0.8);
    height: 700px;
    border-radius: 200px;
    margin-top: -100px;
    margin-left: -400px;
}

.chat-now-btn {
    bottom : 40px;
    left: 50%;
    text-shadow: 1px 1px grey;
    margin-left: -20px;
    position: absolute;
}

.chat-now-btn:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.start-conv {
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 20px;
    margin: 70px;
    padding: 20px;
    text-align: center;
}

.users-conv {
    position: relative;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-bottom: 2px dotted black;
    overflow: hidden;
    margin: 15px 150px;
    height: 100px;
}

.start-conv:hover {
    border: 5px solid black;
    cursor: pointer;
}

.cont {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 50px;
    bottom: 50px;
    background-color: green;
    border: 2px solid black;
    border-radius: 0.4%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 10;
}

.cont2 {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 50px;
    bottom: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.4%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 20;
}


.margin {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.users {
    color: white;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

.users:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    cursor: pointer; 
}

.enabled {
    opacity: 1;
    color: black;
    background-color: transparent;
}

.disabled {
    opacity: 0.5;
    color: red;
    background-color: grey
}

.conv-users-container {
    position: relative;
    text-align: center;
    margin: 10px 150px;
    padding: 50px;
    border: 1px dotted black;
    overflow-y: auto;
    height: 200px;
}

.add-user {
    margin: 10px;
    border-color: transparent;
    background-color: transparent;
}

.bubble {
    border-radius: 50%;
    position: relative;
    bottom: 0px;
    border: 2px solid black;
}

.bubble #popup {
    display: none;
}

.bubble:hover #popup {
    display: block;
    color: black;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin-top: 10px;
    letter-spacing: 1.5px;
}

.bubble-container {

    display: flex;
    flex-flow: row; 
    width: 500px;
    flex-wrap:  wrap-reverse;
    bottom: 10px;
    position: absolute;
    justify-content: space-around;
    right: 10px;
    overflow-y: auto;
    height: 900;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding: 10px;
    border-radius: 10%;
    /*background-color: white;*/
}

.conv-container {
    position: relative;
    text-align: center;
    margin: 20px 100px;
    padding: 10px;
    border: 1px dotted black;
    overflow-y: auto;
    z-index: 10;
    height: 350px;
}

.send-msg {
    position: relative;
    text-align: center;
    margin: 10px 100px;
    padding: 0px;
}

/*

    SIDEBAR:  REGISTERED USERS

*/

.menu-container-in {
    background-color: white;
    top: 350px;
    bottom: 350px;
    overflow: hidden;
    width: 40px;
    left: 0px;
    position: absolute;
    transition: 1s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 0.7;
    z-index:100;
}

.menu-container-out {
    background-color: #2E2E2E;
    overflow-y: auto;
    overflow-x: hidden;
    width: 200px;
    left: 50px;
    top: 50px;
    bottom: 50px;
    transition: 1s;
    position: absolute;
    border-radius: 5px;
    border-color: black;
    border-width: 10px; 
    opacity: 0.8;
    z-index:100;
}


/* - menu symbol -*/

.container {
    display: inline-block;
    cursor: pointer;
    top: 50%;
    width: 29px;
    margin-top: -12px;
    margin-left: 3px;
    position: fixed;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    transform: rotate(45deg) translate(4px, -2px) ;
}

/* Rotate first bar */
.bar1-change{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    -webkit-transform: rotate(-45deg) translate(-4px, 2px) ;
    transform: rotate(-45deg) translate(-4px, 2px) ;
}

/* Fade out the second bar */
.bar2-change{
    width: 25px;
    height: 3px;
    transition: 0.4s;
    opacity: 0;
}

/* Rotate last bar */
.bar3-change{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*- list of users -*/

.reg {
    letter-spacing: 2px;
    margin: 10px;
    margin-left: 30px;
    padding-bottom: 20px;
    margin-top: 40px;
    border-bottom: 5px double black;
    text-align: center;
    color: white;
}

.ireg {
    margin-left: 30px;
}

/*

    HOME BUTTON

*/
.home-button-container {
    background-color: white;
    top: 350px;
    bottom: 350px;
    overflow: hidden;
    width: 40px;
    right: 0px;
    position: absolute;
    transition: 1s;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 0.7;
    z-index:100;
}

.home-container {
    display: inline-block;
    cursor: pointer;
    top: 50%;
    width: 29px;
    margin-top: -12px;
    margin-left: 3px;
    position: fixed;
}

.home-bar1 {
    width: 18px;
    height: 3px;
    background-color: black;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    transform: rotate(45deg) translate(10px, -2px) ;
}

.home-bar2 {
    width: 18px;
    height: 3px;
    background-color: black;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    transform: rotate(-45deg) translate(0px, -2px) ;
}

.home-bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
}

.home-bar4 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 12px 2px 4px 2px;
    transition: 0.4s;
    transform: rotate(90deg) translate(4px, -2px) ;
}

.home-bar5 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 2px 4px 2px;
    transition: 0.4s;
    transform: rotate(90deg) translate(4px, -2px) ;
}

.home-bar6 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 12px 2px 4px 2px;
    transition: 0.4s;
}