body {
    margin: 0px;
    background-color: white;
    
}

ul {
    list-style-type: none;
    padding: 0px;
}


.app-name {
    left: 10px; 
     position: absolute;
     letter-spacing: 4px;
     color: black;
     font-weight: bold;
     cursor: pointer;
     transition: .7s;
     font-style: italic;
     font-family: 'Pacifico', cursive;
     margin: 0px;
}

.cont {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 50px;
    bottom: 50px;
    background-color: rgba(0, 128, 0, 0.42);
    border: 2px solid black;
    border-radius: 0.4%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 10;
}

.cont2 {
    position: absolute;
    right: 80px;
    left: 80px;
    top: 80px;
    bottom: 80px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.4%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 20;
}




/*
    START CONV
*/

.flex-col {
    position: relative;
    display: flex;
    flex-flow: column; 
    height: 80%;
    flex-wrap:  wrap;
    justify-content: space-around;
    overflow-y: auto;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.chat-now-btn {
    text-shadow: 1px 1px grey;
    margin-top: 20px;
}

.chat-now-btn:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.enabled {
    opacity: 1;
    color: black;
    background-color: transparent;
}

.disabled {
    opacity: 0.5;
    color: green;
    background-color: grey;
    font-style: italic;
}

.conv-users-container {
    position: relative;
    text-align: center;
    overflow-y: auto;
    height: 300px;
    width: 80%;
}

/* ------------------------*/




.start-conv {
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 20px;
    margin: 70px;
    padding: 20px;
    text-align: center;
}

.users-conv {
    position: relative;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-bottom: 2px dotted black;
    overflow: hidden;
    margin: 15px 150px;
    height: 100px;
}

.start-conv:hover {
    border: 5px solid black;
    cursor: pointer;
}


.margin {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.users {
    color: white;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

.users:hover {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    cursor: pointer; 
}


.add-user {
    margin: 10px;
    border-color: transparent;
    background-color: transparent;
}

.bubble {
    border-radius: 50%;
    position: relative;
    bottom: 0px;
    border: 2px solid black;
}

.bubble #popup {
    display: none;
}

.bubble:hover #popup {
    display: block;
    color: black;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin-top: 10px;
    letter-spacing: 1.5px;
}

.bubble-container {
    position: relative;
    display: flex;
    flex-flow: row; 
    height: 80%;
    width: 35%;
    flex-wrap:  wrap-reverse;
    justify-content: space-around;
    overflow-y: auto;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.non-bubble-container {
    position: relative;
    width: 35%;
    overflow-y: auto;
    height: 80%;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
}

.content-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 10px;
}

.conv-container {
    position: relative;
    text-align: center;
    margin: 20px 100px;
    padding: 10px;
    border: 1px dotted black;
    overflow-y: auto;
    z-index: 10;
    height: 350px;
}

.send-msg {
    position: relative;
    text-align: center;
    margin: 10px 100px;
    padding: 0px;
}


/*

    HOME BUTTON

*/
.home-button-container {
    background-color: white;
    top: 350px;
    bottom: 350px;
    overflow: hidden;
    width: 40px;
    right: 0px;
    position: absolute;
    transition: 1s;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 0.7;
    z-index:100;
}

.home-container {
    display: inline-block;
    cursor: pointer;
    top: 50%;
    width: 29px;
    margin-top: -12px;
    margin-left: 6px;
    position: fixed;
}
