<div ng-hide="!loggedIn||showConversation" ng-class="ctoggle ? 'start-conv-container-open' : 'start-conv-container'">
    <div class="start-conv" ng-click="ctoggle = true">START CONVERSATION</div>
    <div class="conv-users-container" ng-show="ctoggle">
        <ul>
          <li ng-repeat="user in users" ng-class="isAlreadyInConv(user) ? 'disabled' : 'enabled'">
              <a ng-click="addUserToConv(user);">{{user.name}}</a>
          </li>
        </ul>

        <input type="text" placeholder="Enter chat name" ng-model="inputConvName"></input>
    </div>
    <div ng-show="ctoggle" class="chat-now-btn" ng-click="startConversation(inputConvName)">CHAT NOW</div>
</div>